	<div class="mainBackground">
		<div class="mdl-grid">
				<div  id="dreamster_header" class="header mdl-typography--display-4 mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--12-col-tablet mdl-cell--12-col-phone ">DREAMSTER</div>
			</div>
			<div class="mdl-grid">
				<div  id="dreamster_title" class="header mdl-typography--title mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--12-col-tablet mdl-cell--12-col-phone ">Chase the Dream, not the Competition.</div>
			</div>
			<div id="form">
			<div id="login_form" class="mdl-grid">
				<div  id="" class=" mdl-typography--title mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-typography--text-right">
					<!-- Textfield with Floating Label -->

				<form action="">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" ng-model="username" type="text"  id="sample3"  style="color:#fff;" >
						<label class="mdl-textfield__label" for="sample3">Username</label>
					</div>
				</form>

				</div>
				<div  id="" class=" mdl-typography--title mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-typography--text-right">
					<!-- Textfield with Floating Label -->

				<form action="">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" ng-model="password" type="password" id="sample4"  style="color:#fff;" >
						<label class="mdl-textfield__label" for="sample4" >Password</label>
					</div>
				</form>

				</div>
			</div>
			<div class="mdl-grid" >
				<div   class="mainBtn mdl-typography--title mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-typography--text-right">
					<button id="loginBtn"  ng-click="login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
						Login
				</button>
				</div>
				<div   class="mainBtn mdl-typography--title mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-typography--text-left">
					<a href="#!register" style="color:#fff;"><button id="regBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
						Register
				</button></a>
				</div>
			</div>
			</div>
	</div>
